{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

        <div class="card mt-3">
            <div class="card-header">Editar Orden de Compra {{orden.nro_orden_compra}}</div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('ordenCompra.edit_orden_compra', id=orden.nro_orden_compra) }}">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <label for="codigo_articulo">{{ form.lote.label }}</label>
                        {{ form.lote(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label for="codigo_articulo">{{ form.articulo_id.label }}</label>
                        {{ form.articulo_id(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label for="codigo_articulo">{{ form.estado_id.label }}</label>
                        {{ form.estado_id(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>

        <a href="{{ url_for('ordenCompra.get_ordenes_compra') }}" class="btn btn-secondary mt-3">Volver</a>
    </div>

{% endblock %}
