{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}


<h2 class="mt-2">Crear articulos</h2>
<div class="container">
  <div class="card">
      <div class="card-body">
        <form method="POST">
          {{ form_articulo_crear.hidden_tag() }}
          <div class="row mb-3">
            <div class="col">
              <label>{{ form_articulo_crear.codigo_articulo.label }}</label>
              {{ form_articulo_crear.codigo_articulo(class="form-control mb-3") }}
            </div>
            <div class="col">
              <label>{{ form_articulo_crear.nombre_articulo.label }}</label>
              {{ form_articulo_crear.nombre_articulo(class="form-control mb-3") }}
            </div>
            <div class="col">
              <label>{{ form_articulo_crear.coeficiente_seguridad.label }}</label>
              {{ form_articulo_crear.coeficiente_seguridad(class="form-control mb-3") }}
            </div>
            <div class="col">
              <label>{{ form_articulo_crear.costo_almacenamiento.label }}</label>
              {{ form_articulo_crear.costo_almacenamiento(class="form-control mb-3") }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label>{{ form_articulo_crear.costo_de_pedido.label }}</label>
              {{ form_articulo_crear.costo_de_pedido(class="form-control mb-3") }}
            </div>
            <div class="col">
              <label>{{ form_articulo_crear.stock.label }}</label>
              {{ form_articulo_crear.stock(class="form-control mb-3") }}
            </div>
            <div class="col">
              <label>{{ form_articulo_crear.tiempo_de_pedido.label }}</label>
              {{ form_articulo_crear.tiempo_de_pedido(class="form-control mb-3") }}
            </div>
            <div class="col">
              <label>{{ form_articulo_crear.modelo_inventario_id.label }}</label>
              {{ form_articulo_crear.modelo_inventario_id(class="form-control mb-3") }}
            </div>
          </div>
          <div class="col d-flex justify-content-end">
            {{ form_articulo_crear.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
  </div>
</div>

<!--Tabla articulos-->
<h2 class="mt-2">Articulos</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-center align-middle">Codigo</th>
        <th scope="col" class="text-center align-middle">Nombre</th>
        <th scope="col" class="text-center align-middle">Coeficiente seguridad</th>
        <th scope="col" class="text-center align-middle">Costo almacenamiento</th>
        <th scope="col" class="text-center align-middle">Costo pedido</th>
        <th scope="col" class="text-center align-middle">Stock</th>
        <th scope="col" class="text-center align-middle">Modelo inventario</th>
        <th scope="col" class="text-center align-middle">Proveedor predeterminado</th>
        <th scope="col" class="text-center align-middle">Editar</th>
        <th scope="col" class="text-center align-middle">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for articulo in articulos %}
      <tr>
        <td class="text-center align-middle">{{articulo.codigo_articulo}}</td>
        <td class="text-center align-middle">{{articulo.nombre_articulo}}</td>
        <td class="text-center align-middle">{{articulo.coeficiente_seguridad}}</td>
        <td class="text-center align-middle">{{articulo.costo_almacenamiento}}</td>
        <td class="text-center align-middle">{{articulo.costo_de_pedido}}</td>
        <td class="text-center align-middle">{{articulo.stock}}</td>
        <td class="text-center align-middle">{{articulo.modelo_inventario.nombre}}</td>
        <td class="text-center align-middle">
          {% if articulo.detalle_proveedor_predeterminado %}
              {{ articulo.detalle_proveedor_predeterminado.proveedor.nombre }}
          {% else %}
              No asignado
          {% endif %}
        </td>
        <td class="text-center align-middle"> <a class="btn btn-primary btn-sm" href="{{ url_for('articulos.edit', id=articulo.id) }}">Editar</a></td>
        <td class="text-center align-middle"><button class="btn btn-danger btn-sm" id="btn-edit{{articulo.id}}" data-bs-toggle="modal" data-bs-target="#modalEliminar{{articulo.id}}">Eliminar</button></td>
      </tr>

      <!-- modales -->
      <!-- modal borrar articulo-->
      <div class="modal fade" id="modalEliminar{{articulo.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar articulo codigo: {{articulo.codigo_articulo}}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>¿Estas seguro que quieres eliminar este articulos?</h2>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a href="{{url_for('articulos.eliminar', id=articulo.id)}}"  class=" btn btn-danger">Aceptar</a>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
      
    </tbody>
  </table>
</div>
{% endblock %}