{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h2 class="mt-2">Crear articulos</h2>
<div class="container">
  <div class="card">
      <div class="card-body">
          <form action="" method="POST">
              <div class="row mb-3">
                <div class="row mb-3">
                  <div class="col">
                    <label >Codigo articulo</label>
                    <input type="number" class="form-control mb-3" name="codigo_articulo"  min="0" required>
                  </div>
                  <div class="col">
                    <label >Nombre articulo</label>
                    <input type="text" class="form-control mb-3" name="nombre_articulo" required maxlength="100">
                  </div>
                  <div class="col">
                    <label >Coeficiente de seguridad</label>
                    <input type="number" step="0.01" class="form-control mb-3" name="coeficiente_seguridad"  min="0" required>
                  </div>
                  <div class="col">
                    <label >Costo almacenamiento</label>
                    <input type="number" step="0.01" class="form-control mb-3" name="costo_almacenamiento"  min="0" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label >Costo pedido</label>
                    <input type="number" step="0.01" class="form-control mb-3" name="costo_de_pedido"  min="0" required>
                  </div>
                  <div class="col">
                    <label >Stock</label>
                    <input type="number" class="form-control mb-3"  min="0" name="stock">
                  </div>
                  <div class="col">
                    <label >Tiempo de pedido</label>
                    <input type="number" class="form-control mb-3"  min="0" name="tiempo_de_pedido">
                  </div>
                  <div class="col">
                    <label>Modelo de Inventario</label>
                    <select class="form-control mb-3" name="modelo_inventario_id" required>
                      {% for modelo_inventario in modelos_inventario %}
                        <option value="{{ modelo_inventario.id }}">{{ modelo_inventario.nombre }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col d-flex justify-content-end">
                  <button class="btn btn-primary" type="submit">Crear</button>
                </div>
              </div>
              
          </form>
      </div>
  </div>
</div>
<h2 class="mt-2">Articulos</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Coeficiente seguridad</th>
        <th scope="col">Costo almacenamiento</th>
        <th scope="col">Costo pedido</th>
        <th scope="col">Stock</th>
        <th scope="col">Modelo inventario</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for articulo in articulos %}
      <tr>
        <td>{{articulo.codigo_articulo}}</td>
        <td>{{articulo.nombre_articulo}}</td>
        <td>{{articulo.coeficiente_seguridad}}</td>
        <td>{{articulo.costo_almacenamiento}}</td>
        <td>{{articulo.costo_de_pedido}}</td>
        <td>{{articulo.stock}}</td>
        <td>{{articulo.modelo_inventario.nombre}}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>
{% endblock %}