{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#crearProveedorModal">Crear Proveedor</button>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#crearDetalleProveedorModal">Configurar nuevo detalle proveedor</button>
    </div>
</div>

<!-- Modal para crear proveedor -->
<div class="modal fade" id="crearProveedorModal" tabindex="-1" aria-labelledby="crearProveedorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearProveedorModalLabel">Crear Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('proveedores.crear_proveedor') }}">
                    {{ form_proveedor.hidden_tag() }}
                    <div class="mb-3">
                        <label>{{ form_proveedor.nombre.label }}</label>
                        {{ form_proveedor.nombre(class="form-control mb-3") }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        {{ form_proveedor.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para crear detalle proveedor -->
<div class="modal fade" id="crearDetalleProveedorModal" tabindex="-1" aria-labelledby="crearDetalleProveedorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearDetalleProveedorLabel">Configurar detalle proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('proveedores.crear_detalle_proveedor') }}">
                    {{ form_detalle_proveedor.hidden_tag() }}
                    <div class="mb-3">
                        <label>{{ form_detalle_proveedor.proveedor_id.label }}</label>
                        {{ form_detalle_proveedor.proveedor_id(class="form-control mb-3") }}
                    </div>
                    <div class="mb-3">
                        <label>{{ form_detalle_proveedor.costo_pedido_proveedor.label }}</label>
                        {{ form_detalle_proveedor.costo_pedido_proveedor(class="form-control mb-3",type="number") }}
                    </div>
                    <div class="mb-3">
                        <label>{{ form_detalle_proveedor.precio_articulo.label }}</label>
                        {{ form_detalle_proveedor.precio_articulo(class="form-control mb-3",type="number") }}
                    </div>
                    <div class="mb-3">
                        <label>{{ form_detalle_proveedor.tiempo_demora.label }}</label>
                        {{ form_detalle_proveedor.tiempo_demora(class="form-control mb-3",type="number") }}
                    </div>
                    <div class="mb-3">
                        <label>{{ form_detalle_proveedor.articulo_id.label }}</label>
                        {{ form_detalle_proveedor.articulo_id(class="form-control mb-3") }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        {{ form_detalle_proveedor.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Tabla para mostrar proveedores/detalle proveedor-->
 {% for proveedor in proveedores %}
<h4 class="mt-4">{{proveedor.nombre}}</h4>
<div class="table-responsive">
    <table class="table table-striped table-sm table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center align-middle">Codigo</th> 
          <th scope="col" class="text-center align-middle">Articulo</th> 
          <th scope="col" class="text-center align-middle">Costo pedido</th>
          <th scope="col" class="text-center align-middle">Precio articulo</th>
          <th scope="col" class="text-center align-middle">Tiempo de demora</th>
          <th scope="col" class="text-center align-middle">Editar</th>
          <th scope="col" class="text-center align-middle">Eliminar</th>
        </tr>
      </thead>
    {% for detalle_proveedor in proveedor.detalles_proveedor %}
        <tbody>
            <tr>
              <td class="text-center align-middle">{{detalle_proveedor.id}}</td>  
              <td class="text-center align-middle">{{detalle_proveedor.articulo.nombre_articulo}}</td>
              <td class="text-center align-middle">{{detalle_proveedor.costo_pedido_proveedor}}</td>
              <td class="text-center align-middle">{{detalle_proveedor.precio_articulo}}</td>
              <td class="text-center align-middle">{{detalle_proveedor.tiempo_demora}}</td>
              <td class="text-center align-middle"><button class="btn btn-primary btn-sm" id="btn-edit{{detalle_proveedor.id}}" data-bs-toggle="modal" data-bs-target="#modaleditar{{detalle_proveedor.id}}">Editar</button></td>
              <td class="text-center align-middle"><button class="btn btn-danger btn-sm" id="btn-edit{{detalle_proveedor.id}}" data-bs-toggle="modal" data-bs-target="#modalEliminar{{detalle_proveedor.id}}">Eliminar</button></td>
            </tr>

             <!-- modales editar detalle proveedor-->
            <div class="modal fade" id="modaleditar{{ detalle_proveedor.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar proveedor {{proveedor.nombre}} articulo {{ detalle_proveedor.articulo.nombre_articulo }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('proveedores.editar_detalle_proveedor', id=detalle_proveedor.id) }}" method="POST">
                                {{ form_detalle_proveedor_editar.hidden_tag() }}
                                <label>{{ form_detalle_proveedor_editar.costo_pedido_proveedor.label }}</label>
                                {{ form_detalle_proveedor_editar.costo_pedido_proveedor(class="form-control mb-3",type="number", value=detalle_proveedor.costo_pedido_proveedor) }}
                                <label>{{ form_detalle_proveedor_editar.precio_articulo.label }}</label>
                                {{ form_detalle_proveedor_editar.precio_articulo(class="form-control mb-3",type="number", value=detalle_proveedor.precio_articulo) }}
                                <label>{{ form_detalle_proveedor_editar.tiempo_demora.label }}</label>
                                {{ form_detalle_proveedor_editar.tiempo_demora(class="form-control mb-3",type="number",value=detalle_proveedor.tiempo_demora) }}
                                <div class="modal-footer">
                                    {{ form_detalle_proveedor_editar.submit(class="btn btn-primary") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

      <!-- modal borrar articulo-->
      <div class="modal fade" id="modalEliminar{{detalle_proveedor.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar  proveedor {{proveedor.nombre}} articulo {{ detalle_proveedor.articulo.nombre_artiuclo }}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4>¿Estas seguro que quieres eliminar este detalle proveedor?</h2>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a href="{{url_for('proveedores.eliminar_detalle_proveedor', id=detalle_proveedor.id)}}"  class=" btn btn-danger">Aceptar</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
        </tbody>
    </table>
</div>
 {% endfor %}

{% endblock %}