{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h2 class="mt-2">Gestión de Demanda Predecida</h2>
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="demandaPredecidaTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="promedio-movil-tab" data-bs-toggle="tab" href="#promedio-movil" role="tab" aria-controls="promedio-movil" aria-selected="true">Promedio Móvil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="PMP-tab" data-bs-toggle="tab" href="#promedio-movil-ponderado" role="tab" aria-controls="promedio-movil-ponderado" aria-selected="false">Promedio Móvil Ponderado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="PMP-suavizado-tab" data-bs-toggle="tab" href="#PMP-suavizado" role="tab" aria-controls="PMP-suavizado" aria-selected="false">PMP Suavizado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="regresion-lineal-tab" data-bs-toggle="tab" href="#regresion-lineal" role="tab" aria-controls="regresion-lineal" aria-selected="false">Regresion Lineal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ajuste-estacional-tab" data-bs-toggle="tab" href="#ajuste-estacional" role="tab" aria-controls="ajuste-estacional" aria-selected="false">Ajuste Estacional</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="comparar-tablas-tab" data-bs-toggle="tab" href="#comparar-tablas" role="tab" aria-controls="comparar-tablas" aria-selected="false">Comparar Tablas</a>
        </li>
    </ul>

    <div class="tab-content" id="demandaPredecidaTabContent">
        <!-- Pestaña Promedio Móvil -->
        <div class="tab-pane fade show active" id="promedio-movil" role="tabpanel" aria-labelledby="promedio-movil-tab">
            <div class="card mt-3">
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row mb-3"> 
                            <div class="col">
                                <label>{{ form.articulo_id.label }}</label>
                                {{ form.articulo_id(class="form-control mb-3") }}
                                {{ form.cantidad_periodos.label }} {{ form.cantidad_periodos(class="form-control mb-3") }}
                                {{ form.submitPromedioMovil(class="btn btn-primary") }}
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
            
            <div class="table-responsive mt-3">
                <table class="table table-striped table-sm table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle">Articulo</th>
                      <th scope="col" class="text-center align-middle">Nombre de Metododo</th>
                      <th scope="col" class="text-center align-middle">Error en Demanda Prediccion</th>
                      <th scope="col" class="text-center align-middle">Cantidad de Periodos</th>
                      

                    </tr>
                  </thead>
                  <tbody>
                    {% for errores in errores %}
                        {% if error.nombreMetodo == 'promedio movil' %}
                            <tr>
                            <td class="text-center align-middle">{{ form.articulo_id.nombre_articulo }}</td>
                            <td class="text-center align-middle">{{ form.nombreMetodo }}</td>
                            <td class="text-center align-middle">{{ form.error_DP}}</td>
                            <td class="text-center align-middle">{{ form.cantidad_periodos }}</td>
                            
                            </tr>
                        {% endif %}
                    {% endfor %}
                  
                  </tbody>
                </table>
            </div>                    
        </div>

        <!-- Pestaña Promedio Móvil Ponderado -->
        <div class="tab-pane fade" id="promedio-movil-ponderado" role="tabpanel" aria-labelledby="PMP-tab">
            <div class="card mt-3">
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row mb-3"> 
                            {{ form.articulo_id.label }} {{ form.articulo_id(class="form-control mb-3") }}<br>
                            {{ form.cantidad_periodos.label }} {{ form.cantidad_periodos(class="form-control mb-3") }}<br>
                            <label class="form-label">Factores de Ponderación: Cada factor de ponderación debe ingresarse de forma individual, separados por comas o espacios</label>
                            {% for field in form.factores_ponderacion %}
                            <div class="input-group mb-3">
                            {{ field.factor(class="form-control mb-3") }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.submitPromedioMovilPonderado(class="btn btn-primary") }}
                        </div>
                    </div>        
                </form>     
            </div>
            <div class="table-responsive mt-3">
                <table class="table table-striped table-sm table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle">Articulo</th>
                      <th scope="col" class="text-center align-middle">Nombre de Metododo</th>
                      <th scope="col" class="text-center align-middle">Error en Demanda Prediccion</th>
                      <th scope="col" class="text-center align-middle">Cantidad de Periodos</th>
                      

                    </tr>
                  </thead>
                  <tbody>
                    {% for errores in errores %}
                        {% if error.nombreMetodo == 'promedio movil ponderado' %}
                            <tr>
                            <td class="text-center align-middle">{{ form.articulo_id.nombre_articulo }}</td>
                            <td class="text-center align-middle">{{ form.nombreMetodo }}</td>
                            <td class="text-center align-middle">{{ form.error_DP}}</td>
                            <td class="text-center align-middle">{{ form.cantidad_periodos }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                  
                  </tbody>
                </table>
            </div>
        </div>
    

        <!-- Pestaña PMP Suavizado -->
        <div class="tab-pane fade" id="PMP-suavizado" role="tabpanel" aria-labelledby="PMP-suavizado-tab">
            <div class="card mt-3">
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row mb-3"> 
                            <div class="col">
                                <label>{{ form.articulo_id.label }}</label>
                                {{ form.articulo_id(class="form-control mb-3") }}
                                {{ form.alfa.label }} {{ form.alfa(class="form-control mb-3") }}
                                {{ form.prediccion_raiz.label }} {{ form.prediccion_raiz(class="form-control mb-3") }}
                                {{ form.submitPromedioMovilSuavizado(class="btn btn-primary") }}
                            </div>
                        </div>        
                    </form>     
                </div>
            </div>
            <div class="table-responsive mt-3">
                <table class="table table-striped table-sm table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle">Articulo</th>
                      <th scope="col" class="text-center align-middle">Nombre de Metododo</th>
                      <th scope="col" class="text-center align-middle">Error en Demanda Prediccion</th>
                      <th scope="col" class="text-center align-middle">Alfa</th>
                      <th scope="col" class="text-center align-middle">Prediccion Raiz</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for errores in errores %}
                        {% if error.nombreMetodo == 'promedio movil suavizado' %}
                            <tr>
                            <td class="text-center align-middle">{{ form.articulo_id.nombre_articulo }}</td>
                            <td class="text-center align-middle">{{ form.nombreMetodo }}</td>
                            <td class="text-center align-middle">{{ form.error_DP}}</td>
                            <td class="text-center align-middle">{{ form.alfa }}</td>
                            <td class="text-center align-middle">{{ form.numero_raiz }}</td>
                            
                            </tr>
                        {% endif %}
                    {% endfor %}
                  
                  </tbody>
                </table>
            </div>    
        </div>            

        <!-- Pestaña Regresión Lineal -->
        <div class="tab-pane fade" id="regresion-lineal" role="tabpanel" aria-labelledby="regresion-lineal-tab">
            <div class="card mt-3">
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row mb-3"> 
                            <div class="col">
                                <label>{{ form.articulo_id.label }}</label>
                                {{ form.articulo_id(class="form-control mb-3") }}
                                {{ form.submitRegresionLineal(class="btn btn-primary") }}
                            </div>
                        </div>        
                    </form>     
                </div>
            </div>
            <div class="table-responsive mt-3">
                <table class="table table-striped table-sm table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle">Articulo</th>
                      <th scope="col" class="text-center align-middle">Nombre de Metododo</th>
                      <th scope="col" class="text-center align-middle">Error en Demanda Prediccion</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for errores in errores %}
                        {% if error.nombreMetodo == 'regresion lineal' %}
                            <tr>
                            <td class="text-center align-middle">{{ form.articulo_id.nombre_articulo }}</td>
                            <td class="text-center align-middle">{{ form.nombreMetodo }}</td>
                            <td class="text-center align-middle">{{ form.error_DP}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                  
                  </tbody>
                </table>
            </div>    
        </div>            

        <!-- Pestaña Ajuste Estacional -->
        <div class="tab-pane fade" id="ajuste-estacional" role="tabpanel" aria-labelledby="ajuste-estacional-tab">
            <div class="card mt-3">
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row mb-3"> 
                            <div class="col">
                                <label>{{ form.articulo_id.label }}</label>
                                {{ form.articulo_id(class="form-control mb-3") }}
                                {{ form.submitAjusteEstacional(class="btn btn-primary") }}
                            </div>
                        </div>        
                    </form>     
                </div>
            </div>
            <div class="table-responsive mt-3">
                <table class="table table-striped table-sm table-bordered">
                  <thead>
                    <tr>
                      <th scope="col" class="text-center align-middle">Articulo</th>
                      <th scope="col" class="text-center align-middle">Nombre de Metododo</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for errores in errores %}
                        {% if error.nombreMetodo == 'ajuste estacional' %}
                            <tr>
                            <td class="text-center align-middle">{{ form.articulo_id.nombre_articulo }}</td>
                            <td class="text-center align-middle">{{ form.nombreMetodo }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                  
                  </tbody>
                </table>
            </div> 

        </div>            
    </div>
    
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBogGzjI4I4zW8G4PS7vvJzGOKjTIG8pf7LJATxtVf6CkzQK" crossorigin="anonymous"></script>


<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      var activeTab = localStorage.getItem('activeTab');
      if (activeTab) {
          var tab = new bootstrap.Tab(document.querySelector(`#${activeTab}-tab`));
          tab.show();
      }
  
      var tabLinks = document.querySelectorAll('.nav-tabs .nav-link');
      tabLinks.forEach(link => {
          link.addEventListener('shown.bs.tab', function (e) {
              localStorage.setItem('activeTab', e.target.id.replace('-tab', ''));
          });
      });
  });
  </script>
{% endblock %}