{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.articulo_id.label }} {{ form.articulo_id() }}<br>
        {{ form.cantidad_periodos.label }} {{ form.cantidad_periodos() }}<br>
        {{ form.factor_ponderacion1.label }} {{ form.factor_ponderacion1() }}<br>
        {{ form.factor_ponderacion2.label }} {{ form.factor_ponderacion2() }}<br>
        {{ form.factor_ponderacion3.label }} {{ form.factor_ponderacion3() }}<br>
        {{ form.submit() }}
    </form>

{% endblock %}
