<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promedio Móvil Suavizado</title>
</head>
<body>
    <h1>Predicción de Demanda - Promedio Móvil Suavizado</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.articulo_id.label }} {{ form.articulo_id() }}<br>
        {{ form.alfa.label }} {{ form.alfa() }}<br>
        {{ form.prediccion_raiz.label }} {{ form.prediccion_raiz() }}<br>
        {{ form.submit() }}
    </form>
</body>
</html>
